#main{
  background-color:rgb(255,204,204);
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:1%;
  margin-top:20px;
  text-align:center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.img-container{
  background-color:light-green;
  padding: 30px 30px 20px 30px;
  width:100%;
  margin-top:2%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
img{
  max-width: 100%;
  height: auto;
}
#img-caption{
  padding-top:20px;
}
#tribute-info{
  width:45%;
  text-align:left;
}
li{
  padding:5px;
}
.quote{
  width:90%;
  margin:8px;
}
figcaption{
  font-family:  'Verdana', serif;
  display: inline;
  background-color: #E52B50;
}
 
 @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
	figcaption{
	font-size: 1rem;
  }
}